* {margin: 0; padding: 0;}
body { font-family: Helvetica, Arial, sans-serif;}
a:link,a:visited { color: navy; }
a:hover,a:active,a:focus { color: #333; }
h1,h2,h3,h4,h5,h6 { margin: 10px 0; }
label {display: block; font-weight: bold;}
fieldset { margin: 10px 0; padding: 10px; }
form div { margin: 10px 0; }
input,textarea,select {font-size: 22px;}
#main-wrap { margin: 10px auto; width: 85%; max-width: 800px; }
#login form  { padding: 20px; border: 3px solid #333; }
.site-title { font-size: 50px; text-align: center; }
.site-title a { text-decoration: none; }
label[for="remember"] { display: inline; }
#remember { float: left; margin: 0 5px 0 0;}